{% extends "base.html" %}

{% block page_title %}RemoteTwin - Pre Alpha{% endblock page_title %}

{% block content %}

<!--MAIN CONTENY // START -->
<section id="main-content">
	<section class="wrapper">

		<!-- prescribe button w/ modal -->
		<div class="row">
			<div class="col-lg-4">
				<section class="panel">
					<div class="panel-body"><a class="btn btn-round btn-primary" data-toggle="modal" href="#prescribe_popup">PRESCRIBE</a></div>
				</section>
				<!-- prescribe modal -->
				<div class="modal fade" id="prescribe_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Prescribe</h4>
							</div>
							<div class="modal-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>TREATMENT w/ RESULTS</th>
											<th>MEDICINE (only for returning patient)</th>
											<th>COMMENTS</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><textarea rows="15" cols="32"></textarea></td>
											<td><textarea rows="15" cols="25"></textarea></td>
											<td><textarea rows="15" cols="22"></textarea></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button class="btn btn-danger" type="button"> Submit</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- lung sounds -->
		<div class="row">
			<div class="col-lg-12">
				<section class="panel">

					<header class="panel-heading tab-bg-dark-navy-blue tab-right ">
						<ul class="nav nav-tabs pull-right">
							<li class="active">
								<a data-toggle="tab" href="#part1">Part1</a>
							</li>
							<li class="">
								<a data-toggle="tab" href="#part2">Part2</a>
							</li>
							<li class="">
								<a data-toggle="tab" href="#part3">Part3</a>
							</li>
							<li class="">
								<a data-toggle="tab" href="#part4">Part4</a>
							</li>
						</ul>
						<span class="hidden-sm wht-color">LUNG SOUNDS</span>
					</header>

					<div class="panel-body">
						<div class="tab-content">
							<div id="part1" class="tab-pane active">
								<div id="waveform"></div>
							</div>
							<div id="part2" class="tab-pane"></div>
							<div id="part3" class="tab-pane"></div>
							<div id="part4" class="tab-pane"></div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<!-- ecg plot and recommendation -->
		<div class="row">
			<div class="col-lg-8">
				<section class="panel">
					<header class="panel-heading">
						ECG Readings
					</header>
					<div class="plot_container">
						<div id="ecg_plot" class="#"></div>
					</div>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="panel post-wrap pro-box">
					<aside class="post-highlight terques v-align">
						<div class="panel-body">
							<h2>We recommend the patient has this this diseases and have been suffering from 12 days.</h2>
						</div>
					</aside>
				</section>
			</div>
		</div>

		<!-- pat_vitals plot -->
		<div class="row">
			<div class="col-lg-12">
				<section class="panel">
					<header class="panel-heading">
						Patient Vitals
					</header>
					<div class="plot_container">
						<div id="pat_vitals" class="#"></div>
					</div>
				</section>
			</div>
		</div>

		<!-- community plot -->
		<div class="row">
			<div class="col-lg-6">

				<section class="panel">

					<header class="panel-heading">
						Community Data
					</header>
					<div class="panel-body">
						<div id="community_data" class="graph"></div>
					</div>

				</section>

			</div>
		</div>

	</section>
</section>

{% endblock content %}
